.navbar{
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    padding: 1.5vh;
    position: sticky;
    top: 0vh;
    z-index: 2;
    background-color: #FFFFEC;
}
.navbar_left{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    gap: 4vw;
    margin-left: 2vw;
    /* border: 2px solid red; */
    /* background-color: black; */
    color: rgb(0, 0, 0);
    align-items: center;
}

.navbar_right{
    display: flex;
    flex-direction: row;
    gap: 2vw;
}

.nav_component{
    font-weight: 600;
    font-size: 1.4rem;
    /* background-color: #FFFFFF; */
}

.bell_icon{
    border-radius: 50%;
    background-color: #BAE84D !important;
    padding: 16px;
    font-size: larger;
    text-align: center;
}
