.web3Button {
    display: flex;
    justify-content: center; /* Aligns horizontally */
    align-items: center;  
    background-color: #FFFFEC;
    color: black;
    border-radius: 25px;
    border: 3px solid rgba(186, 232, 77, 1);
    font-size: 28px;
    width: 30vw;
    transition: box-shadow 0.1s ease-in-out;
    
  }
  
  .web3Button:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }